framework: net6.0
source https://api.nuget.org/v3/index.json

// PRODUCTION STUFF
nuget Microsoft.AspNetCore.Mvc.Versioning.ApiExplorer 5.0.0

nuget Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore 6.0.3
nuget Microsoft.Extensions.Diagnostics.HealthChecks.EntityFrameworkCore 6.0.3

nuget Microsoft.Extensions.Localization 6.0.3

nuget Microsoft.EntityFrameworkCore 6.0.3

nuget Microsoft.Extensions.Configuration 6.0.1
nuget Microsoft.Extensions.Configuration.CommandLine 6.0.0
nuget Microsoft.Extensions.Configuration.FileExtensions 6.0.0
nuget Microsoft.Extensions.Configuration.Json 6.0.0
nuget Microsoft.Extensions.Configuration.EnvironmentVariables 6.0.1
nuget Microsoft.Extensions.Options.ConfigurationExtensions 6.0.0
nuget Microsoft.Extensions.DependencyInjection 6.0.0

nuget Microsoft.VisualStudio.Web.BrowserLink 2.2.0

nuget Microsoft.SyndicationFeed.ReaderWriter 1.0.2

nuget System.Text.Encoding.CodePages 6.0.0

nuget Polly 7.2.3

nuget SqlStreamStore 1.2.0
nuget SqlStreamStore.MsSql 1.2.0

nuget Autofac 6.3.0
nuget Autofac.Extensions.DependencyInjection 7.2.0

nuget FluentValidation.AspNetCore 10.4.0

nuget Newtonsoft.Json 13.0.1
nuget Destructurama.JsonNet 2.0.0
nuget Microsoft.AspNetCore.Mvc.NewtonsoftJson 6.0.3

nuget Serilog 2.10.0
nuget Serilog.Settings.Configuration 3.3.0
nuget Serilog.Extensions.Logging 3.1.0
nuget Serilog.Sinks.Console 4.0.1
nuget Serilog.Sinks.File 5.0.0
nuget Serilog.Enrichers.Thread 3.1.0
nuget Serilog.Enrichers.Environment 2.2.0
nuget Serilog.Formatting.Compact 1.1.0

// VBR STUFF
nuget Be.Vlaanderen.Basisregisters.Build.Pipeline 6.0.5

nuget Be.Vlaanderen.Basisregisters.AggregateSource 7.1.4
nuget Be.Vlaanderen.Basisregisters.AggregateSource.SqlStreamStore 7.1.4

nuget Be.Vlaanderen.Basisregisters.AspNetCore.Mvc.ModelBinding.GuidHeader 3.0.0
nuget Be.Vlaanderen.Basisregisters.AspNetCore.Mvc.Logging 3.0.0
nuget Be.Vlaanderen.Basisregisters.AspNetCore.Mvc.Formatters.Json 4.0.0
nuget Be.Vlaanderen.Basisregisters.AspNetCore.Mvc.Middleware.AddCorrelationId 3.0.0
nuget Be.Vlaanderen.Basisregisters.AspNetCore.Mvc.Middleware.AddCorrelationIdToLogContext 3.0.0
nuget Be.Vlaanderen.Basisregisters.AspNetCore.Mvc.Middleware.AddCorrelationIdToResponse 3.0.0
nuget Be.Vlaanderen.Basisregisters.AspNetCore.Mvc.Middleware.AddHttpSecurityHeaders 3.0.0
nuget Be.Vlaanderen.Basisregisters.AspNetCore.Mvc.Middleware.AddRemoteIpAddress 3.0.0
nuget Be.Vlaanderen.Basisregisters.AspNetCore.Mvc.Middleware.AddVersionHeader 3.0.0
nuget Be.Vlaanderen.Basisregisters.Middleware.AddProblemJsonHeader 2.0.0
nuget Be.Vlaanderen.Basisregisters.AspNetCore.Mvc.Middleware.DefaultResponseCompressionQuality 3.0.0
nuget Be.Vlaanderen.Basisregisters.AspNetCore.Mvc.Middleware.EnableRequestRewind 3.0.0

nuget Be.Vlaanderen.Basisregisters.AspNetCore.Swagger 4.0.2
nuget Be.Vlaanderen.Basisregisters.AspNetCore.Swagger.ReDoc 4.0.2

nuget Be.Vlaanderen.Basisregisters.DataDog.Tracing 5.0.3
nuget Be.Vlaanderen.Basisregisters.DataDog.Tracing.AspNetCore 5.0.3
nuget Be.Vlaanderen.Basisregisters.DataDog.Tracing.Microsoft 5.0.3
nuget Be.Vlaanderen.Basisregisters.DataDog.Tracing.Sql 5.0.3
nuget Be.Vlaanderen.Basisregisters.DataDog.Tracing.SqlStreamStore 5.0.3

nuget Be.Vlaanderen.Basisregisters.DependencyInjection 1.0.3

nuget Be.Vlaanderen.Basisregisters.EventHandling.Autofac 4.2.3
nuget Be.Vlaanderen.Basisregisters.EventHandling.Microsoft 4.2.3

nuget Be.Vlaanderen.Basisregisters.ProblemDetails 8.0.1

nuget Be.Vlaanderen.Basisregisters.Aws.DistributedMutex 3.0.0

nuget Be.Vlaanderen.Basisregisters.Generators.Guid.Deterministic 3.0.1

// TEST STUFF
nuget Microsoft.NET.Test.Sdk 17.1.0
nuget Microsoft.AspNetCore.TestHost 6.0.3
nuget xunit 2.4.1
nuget xunit.runner.visualstudio 2.4.3
nuget xunit.categories 2.0.6
nuget FluentAssertions 6.5.1
nuget Moq 4.17.2
nuget Shouldly 4.0.3
nuget AutoFixture 4.17.0

// BUILD STUFF
nuget SourceLink.Embed.AllSourceFiles 2.8.3 copy_local: true
nuget SourceLink.Copy.PdbFiles 2.8.3 copy_local: true
